.container_hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 .title_servicios{
    font-size: 2rem;
    text-align: center;
    position: relative;
    z-index: -2;
    animation: tarjeta_servicio 1s ease 0s 1 normal forwards;
}
#text{
    display: flex;
    justify-content: center;
    z-index: -2;
    animation: tarjeta_servicio 1s ease 0s 1 normal forwards;
}
.description_servicio{
    font-size: 1.3rem;
    max-width: 80%;
    text-align: justify;

} 

.servicios_tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.tarjeta_servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: 1rem;
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(206, 229, 229, 0.599);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    animation: contenido_hero 1100ms ease 0s 1 normal forwards;
}
.tarjeta_contacto{
    animation: tarjeta_servicio 1s ease 0s 1 normal forwards;
}
.img_servicio{
    height: 230px;
    max-width: 100%;
    border-radius: 12px;
}
.title_servicio_tarjeta{
    text-align: center;
    font-size: 2rem;
}
.title_servicio_tarjeta a{
    text-decoration: none;  
    color: black;
}
.title_servicio_tarjeta a:active{
    text-decoration: none;  
    color: black;
}
.text_servicio{
    text-align: justify;
    font-size: 1.3rem;
    width: 300px;
    min-height: 100px;
    max-height: 120px;
}
@keyframes tarjeta_servicio {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes contenido_hero {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}